# AMAZON WEB SCRAPING

In [2]:
from bs4 import BeautifulSoup
import requests
import time
import datetime
import csv
import pandas as pd

import smtplib

In [3]:
# Connecting to website

URL = 'https://www.amazon.com/Funny-Data-Systems-Business-Analyst/dp/B07FNW9FGJ/ref=sr'

headers = {"User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/126.0.0.0 Safari/537.36", "Accept-Encoding":"gzip, deflate", "Accept":"text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8", "DNT":"1","Connection":"close", "Upgrade-Insecure-Requests":"1"}

page = requests.get(URL, headers = headers)

soup1 = BeautifulSoup(page.content, 'html.parser')

soup2 = BeautifulSoup(soup1.prettify(),'html.parser')

title = soup2.find(id='productTitle').get_text()

price = soup2.find(class_="aok-offscreen").get_text()


print(title)
print(price)

                    Funny Got Data MIS Data Systems Business Analyst T-Shirt


                    $16.99

In [4]:
price = price.strip()[1:]
title = title.strip()

print(title)
print(price)

Funny Got Data MIS Data Systems Business Analyst T-Shirt
16.99

In [5]:
today = datetime.date.today()

In [6]:
#overwrite data
header = ['Title', 'Price', 'Date']
data = [title, price, today]

with open('Amazon_web_scraper_DataSheet.csv', 'w', newline='', encoding='UTF8') as f:
    writer = csv.writer(f)
    writer.writerow(header)
    writer.writerow(data)

In [7]:
df = pd.read_csv(r"C:\Users\LABLAB\Amazon_web_scraper_DataSheet.csv")
df

                                               Title  Price        Date
0  Funny Got Data MIS Data Systems Business Analy...  16.99  2024-07-21

In [8]:
#Appending data to the csv

with open('Amazon_web_scraper_DataSheet.csv', 'a+', newline='', encoding='UTF8') as f:
    writer = csv.writer(f)
    writer.writerow(data)

In [9]:

def check_price():
    URL = 'https://www.amazon.com/Funny-Data-Systems-Business-Analyst/dp/B07FNW9FGJ/ref=sr'
    
    headers = {"User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/126.0.0.0 Safari/537.36", "Accept-Encoding":"gzip, deflate", "Accept":"text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8", "DNT":"1","Connection":"close", "Upgrade-Insecure-Requests":"1"}

    page = requests.get(URL, headers = headers)

    soup1 = BeautifulSoup(page.content, 'html.parser')

    soup2 = BeautifulSoup(soup1.prettify(),'html.parser')

    title = soup2.find(id='productTitle').get_text()

    price = soup2.find(class_="aok-offscreen").get_text()
    
    price = price.strip()[1:]
    title = title.strip()

    today = datetime.date.today()

    header = ['Title', 'Price', 'Date']
    data = [title, price, today]

    with open('Amazon_web_scraper_DataSheet.csv', 'a+', newline='', encoding='UTF8') as f:
        writer = csv.writer(f)
        writer.writerow(data)

In [ ]:
while(True):
    check_price()
    time.sleep(86400)

In [13]:
df = pd.read_csv(r"C:\Users\LABLAB\Amazon_web_scraper_DataSheet.csv")
df

                                               Title  Price        Date
0  Funny Got Data MIS Data Systems Business Analy...  16.99  2024-07-21
1  Funny Got Data MIS Data Systems Business Analy...  16.99  2024-07-21
2  Funny Got Data MIS Data Systems Business Analy...  16.99  2024-07-21
3  Funny Got Data MIS Data Systems Business Analy...  16.99  2024-07-21
4  Funny Got Data MIS Data Systems Business Analy...  16.99  2024-07-21
5  Funny Got Data MIS Data Systems Business Analy...  16.99  2024-07-21